@viewport{ zoom:1.0; width:extend-to-zoom; }
@ms-viewport{ zoom:1.0; width:extend-to-zoom; }

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] { font-family:"ratio",sans-serif; }
div {
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box; }
.l-box { padding:1em; }

body { background:#333 url(/images/crissXcross.png); font-size:18px; line-height:1.6; }
h1,
h2 { line-height:1.1; }

.darkbg { background:rgba(0,0,0,0.6); }
.hero { text-align:center; color:#999; padding-top:40px; }
.hero p { max-width:400px; margin:0 auto 60px; }
.bees { background:url(/images/outshone.jpg) transparent; background-position:center; background-repeat:no-repeat; color:#fff;
	-webkit-background-size:cover;
	   -moz-background-size:cover;
	        background-size:cover; }
.bees .l-box { text-align:center; }
.bees p { padding:10px; }


@media (max-width:450px) { }

.ifwhen { background:url(/images/light_noise_diagonal.png); }
.ifwhen .logo { background:url(/images/ifwhen.png) no-repeat; background-size:100%; background-position:center; min-height:300px; }
@media (max-width:767px) {
	.ifwhen .logo { min-height:200px; background-size:50%; margin-bottom:-40px; }
}
@media (max-width:450px) { 
	.ifwhen .logo { min-height:180px; background-size:90%; }
}
.ifwhen .pure-button { background:#ccc; }