/*
When setting the primary font stack, apply it to the Pure grid units along with
the `body`. Pure Grids use specific font stacks to ensure the greatest
OS/browser compatibility.
*/
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "ratio",sans-serif;
}

.hero { text-align:center; background:#333; color:#999; }
.bees { background:url(/images/outshone.jpg); background-position:center; background-size:100%; color:#333; text-align:center; padding:20px 0 40px 0; }